body {
    background-color: #504e4e;
    color: white;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title {
    margin-top: 30px;
    text-align: center;
}

.wrapper, .card-wrapper {
    width: 300px;
    height: 400px;
}

.wrapper {
    perspective: 800px;
}

.card-wrapper {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.75s;
}

.card-wrapper:hover {
    transform: rotate3d(0, 1, 0, 180deg);
}

.front-card, .back-card {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 450px;
    background: #fcf5f5;
    color: #2d2c2c;
    box-shadow: 0 4px 24px 0 #000000;
    border-radius: 3px;
    padding: 15px;
    backface-visibility: hidden;
}

.front-card img {
    width: 100%;
    height: auto;
}

.back-card {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate3d(0, 1, 0, 180deg);
}

.back-card h2 {
    font-size: 2.3rem;
}

.back-card a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 0.6rem 3.3rem;
}
