body {
  background-color: black;
  color: white;
  font-family: Raleway, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 30px;
  font-size: 2rem;
  border-right: 2px solid orange;
  animation: blink-caret 0.5s step-end infinite, type 4s steps(56, end) infinite;
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: orange; }
}

@keyframes type {
  0% { width: 0;}
  100% { width: 100%; }
}