body {
  background-color: #eae067;
  font-family: Raleway, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.box {
  width: 60px;
  height: 60px;
  background-color: #2096c3;
  margin-top: 30px;
  cursor: pointer;
  /* animation-name: slide;*/
  /* animation-duration: 2.5s;*/
  /* animation-timing-function: linear;*/
  /* animation-iteration-count: infinite;*/
  /* animation-direction: alternate;*/
  /* animation-fill-mode: none;*/
  /* animation-play-state: running*/
  animation: slide 2.5s linear infinite alternate none running;
  /* animation name and duration are obligatory */
}

.box:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% { margin-left: 0; }
  100% { margin-left: 300px; }
}
