body {
    background-color: #39393a;
    color: white;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title {
    margin-top: 30px;
    text-align: center;
}

.wrapper {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    /*backface-visibility: hidden;*/
}

/*
backface-visibility takes visible | hidden


*/