body {
    background-color: #39393a;
    color: white;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title {
    margin-top: 30px;
    text-align: center;
}

.wrapper, .box {
    width: 200px;
    height: 200px;
}

/*
perspective-origin
one or two values
x-axis, y-axis
can be keywords left / center / right / bottom / top
or percentages, or lengths

use perspective-origin with perspective
on parent
use transform percent() on actual element you are
applying it to
*/

.wrapper {
    border: 1px solid white;
    perspective: 200px;
    perspective-origin: bottom left;
}

.box {
    background-color: red;
    transform: translateZ(-100px);
}