body {
  background-color:#f0f4fd;
  font-family: Raleway, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.colorful {
  position: relative;
  height: 80px;
  width: 80px;
  margin-top: 50px;
}

.square {
  position: absolute;
  width: 40px;
  height: 40px;
}

.square1, .square2, .square3, .square4 {
  background-color: #9b59b6;
}

.square1 {
  top: 0;
  left: 0;
  animation: animate1 2.5s ease infinite;
}

.square2 {
  top: 0;
  right: 0;
  animation: animate2 2.5s ease infinite;
}

.square3 {
  bottom: 0;
  right: 0;
  animation: animate3 2.5s ease infinite;
}

.square4 {
  bottom: 0;
  left: 0;
  animation: animate4 2.5s ease infinite;
}

@keyframes animate1 {
  0%, 100% { transform: translateX(0) translateY(0); }
  50% {
    transform: translateX(-40px) translateY(-40px);
    border-radius: 50%;
    background-color: #3498db;
  }
}

@keyframes animate2 {
  0%, 100% { transform: translateX(0) translateY(0); }
  50% {
    transform: translateX(40px) translateY(-40px);
    border-radius: 50%;
    background-color: #f1c40f;
  }
}

@keyframes animate3 {
  0%, 100% { transform: translateX(0) translateY(0); }
  50% {
    transform: translateX(40px) translateY(40px);
    border-radius: 50%;
    background-color: #2ecc71;
  }
}

@keyframes animate4 {
  0%, 100% { transform: translateX(0) translateY(0); }
  50% {
    transform: translateX(-40px) translateY(40px);
    border-radius: 50%;
    background-color: #e74c3c;
  }
}
