body {
    background-color: #ecf0f1;
    font-family: Raleway, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-title {
    margin-top: 30px;
}

.button {
    position: relative;
    border: 0;
    background-color: #e1e1e1;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    width: 150px;
    overflow: hidden;
}

.button.accept {
    background-color: #28a745;
}

.button.delete {
    background-color: #dc3545;
}

.button .action {
    display: block;
    transition: transform 0.4s, opacity 0.4s;
}

.button:hover .action {
    opacity: 0;
}

.button.accept:hover .action {
    transform: translateY(-200%);
}

.button.delete:hover .action {
    transform: translateY(200%);
}

.button.accept .fa.fa-check, .button.delete .fa.fa-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.button.accept .fa.fa-check {
    left: 0;
    bottom: -100%;
    transition: 0.4s bottom;
}

.button.delete .fa.fa-remove {
    left: 0;
    top: -100%;
    transition: 0.4s top;
}

.button.accept:hover .fa.fa-check {
    bottom: 0;
}

.button.delete:hover .fa.fa-remove {
    top: 0;
}
